<div class="container">
<h1 class="display-5">Foods</h1>

<%= link_to "Add Food", new_food_path, class: "btn btn-success my-3" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td><%= button_to "Delete", food, method: :delete, class: "btn btn-danger btn-sm", data: { turbo_confirm: "Are you sure you want to delete this food?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
